.googleHome {
    
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 15rem;
}

h1 {
    font-size: 7rem;
    margin-bottom: 30px;
}

#myInput {
    width: 35rem;
    height: 3rem;
    border-radius: 30px;
    border: solid rgb(191, 190, 190) 2px;
    padding: 10px;
}

.button {
    margin: 20px 10px 20px 10px;
    border-radius: 5px;
    border: transparent;
    padding: 5px 20px 5px 20px;
}

.button:hover {
    border: solid gray 1px;
}

.google {
    display: flex;
    flex-direction: row;
}

.buttons {
    display: flex;
    justify-content: center;
}

#ulList {
    list-style-type: none;
    margin: 10px;
}

.resultsStyle {
    margin: 30px;
}
